header {
  background-color: #63cef1;
  padding: 2rem;
  position: relative;
  .menu-icon {
    font-size: 30px;
    position: absolute;
    right: 18px;
    z-index: 1;
    top: 10px;
    cursor: pointer;
    display: none;
  }
}
