@media screen and (max-width: 600px) {
  header {
    background: none;
    padding: 0;
    // .menu-icon {
    //   .hamburger {
    //     display: block;
    //   }
    // }
    .menu-icon {
      display: block;
    }
  }
  .navbar {
    top: -230px;
    background-color: #63cef1;
    ul {
      padding: 1rem;
      flex-direction: column;
      align-items: center;
    }
    a {
      margin-bottom: 1rem;
      display: inline-block;
    }
  }
  .active {
    top: 0px;
  }
  .route-content {
    position: absolute;
    top: 0px !important;
    min-height: 100vh;
    h1 {
      margin-top: 100px;
    }
  }
  .show {
    top: 226px !important;
    min-height: 62vh;
    h1 {
      margin-top: 10px;
    }
  }
}
