.navbar {
  position: relative;
  transition: all 0.4s;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    font-size: 25px;
    transition: all 0.2s ease-in;
    &:hover {
      color: hotpink;
    }

    &.active {
      color: hotpink;
    }
  }
}
